{
  "plugins": ["import"],
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "prettier"
  ],
  "settings": {
    "import/extensions": [".js"],
    "import/resolver": {
      "node": {
        "extensions": [".js"]
      }
    }
  },
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never"
      }
    ]
  }
}
